<launch>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_gyro" value="true"/>
        <arg name="enable_accel" value="true"/>
        <arg name="unite_imu_method" value="linear_interpolation"/>
    </include>

    <!-- <include file="$(find aruco_ros)/launch/single.launch"/>
    <node pkg="genforce" type="syn_publisher.py" name="syn_publisher" output="screen"/> -->

</launch>